text-semibold {
    font-weight: 600;
}
(index):42
.text-semibold {
    font-weight: 600;
}
(index):42
.text-semibold {
    font-weight: 600;
}
(index):42
.text-semibold {
    font-weight: 600;
}
(index):42
.text-semibold {
    font-weight: 600;
}
(index):42
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
base-844ec2736f…fea6e539.css:1
.text-semibold {
    font-weight: 600;
}
online-platform…25927ab1.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
online-platform…25927ab1.css:1
h1, .online-platform h2:first-of-type, .online-platform .as-h2:first-of-type, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
(index):42
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
(index):42
h1, h2, .as-h2, #site-footer .footer-headline, h3, .as-h3, #site-footer .footer-tel, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
(index):42
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
(index):42
h1, .online-platform h2:first-of-type, .online-platform .as-h2:first-of-type, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
(index):42
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
(index):42
h1, .text-header, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
(index):42
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
(index):42
h1, h2, .as-h2, h3, .as-h3, h4, .as-h4, .tutor-title, .tutor-name, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
(index):42
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
(index):42
h1, .page-top-heading, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, h2, .as-h2, #site-footer .footer-headline, h3, .as-h3, #site-footer .footer-tel, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, .getting-help h2:first-of-type, .getting-help .as-h2:first-of-type, .module-value-props h2:first-of-type, .module-value-props .as-h2:first-of-type, .testimonials-container h2:first-of-type, .testimonials-container .as-h2:first-of-type, .trending-subjects-container h2:first-of-type, .trending-subjects-container .as-h2:first-of-type, .become-a-tutor h2:first-of-type, .become-a-tutor .as-h2:first-of-type, h2, .as-h2, h3, .as-h3, .testimonials-carousel-container .quote figcaption, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, h2, .as-h2, #site-footer .footer-headline, h3, .as-h3, #site-footer .footer-tel, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, .online-platform h2:first-of-type, .online-platform .as-h2:first-of-type, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, .text-header, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, h2, .as-h2, h3, .as-h3, h4, .as-h4, .tutor-title, .tutor-name, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
base-844ec2736f…fea6e539.css:1
h5, .as-h5, h6 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.36;
}
base-844ec2736f…fea6e539.css:1
h1, .page-top-heading, h2, .as-h2, h3, .as-h3, h4, .as-h4, h5, .as-h5, h6 {
    margin: 0;
    font-weight: 300;
}
(index):42
*, *:before, *:after {
    box-sizing: border-box;
}
base-844ec2736f…fea6e539.css:1
*, *:before, *:after {
    box-sizing: border-box;
}
base-844ec2736f…fea6e539.css:1
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
h5 {
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
Inherited from a.text-light
online-platform…25927ab1.css:1
.text-light {
    color: #736e6d;
}
(index):42
.text-light {
    color: #736e6d;
}
(index):42
.text-light {
    color: #736e6d;
}
(index):42
.text-light {
    color: #736e6d;
}
(index):42
.text-light {
    color: #736e6d;
}
(index):42
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
base-844ec2736f…fea6e539.css:1
.text-light {
    color: #736e6d;
}
online-platform…25927ab1.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
(index):42
a {
    text-decoration: none;
    color: #056fd2;
}
(index):42
a {
    text-decoration: none;
    color: #056fd2;
}
(index):42
a {
    text-decoration: none;
    color: #056fd2;
}
(index):42
a {
    text-decoration: none;
    color: #056fd2;
}
(index):42
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
base-844ec2736f…fea6e539.css:1
a {
    text-decoration: none;
    color: #056fd2;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
Inherited from div.row.text-center.text-caps.spc-n.medium-spc-xl-n
online-platform…25927ab1.css:1
.text-caps {
    text-transform: uppercase !important;
}
(index):42
.text-caps {
    text-transform: uppercase !important;
}
(index):42
.text-center {
    text-align: center;
}
(index):42
.text-caps {
    text-transform: uppercase !important;
}
(index):42
.text-caps {
    text-transform: uppercase !important;
}
(index):42
.text-caps {
    text-transform: uppercase !important;
}
(index):42
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-center {
    text-align: center;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-center {
    text-align: center;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
base-844ec2736f…fea6e539.css:1
.text-caps {
    text-transform: uppercase !important;
}
Inherited from section.subject-container.text-center
(index):42
.text-center {
    text-align: center;
}
base-844ec2736f…fea6e539.css:1
.text-center {
    text-align: center;
}
base-844ec2736f…fea6e539.css:1
.text-center {
    text-align: center;
}
Inherited from body.overlay-nav
online-platform…25927ab1.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
(index):42
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
(index):42
body {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    background: white;
    cursor: default;
}
(index):42
html, body {
    font-size: 100%;
}
(index):42
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
(index):42
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
(index):42
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
(index):42
body, .results-heading {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    background: white;
    cursor: default;
}
base-844ec2736f…fea6e539.css:1
html, body {
    font-size: 100%;
}
base-844ec2736f…fea6e539.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    background: white;
    cursor: default;
}
base-844ec2736f…fea6e539.css:1
html, body {
    font-size: 100%;
}
base-844ec2736f…fea6e539.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
base-844ec2736f…fea6e539.css:1
body, .results-heading {
    line-height: 1.58;
    font-size: 14px;
    font-weight: normal;
    font-family: "Open Sans", Tahoma, Geneva, Sans-Serif;
    color: #1d1b1a;
}
Inherited from html.wf-opensans3a300regular600700italicubuntu-n3-inactive.wf-opensans3a300regular600700italicubuntu-n4-inactive.wf-opensans3a300regular600700italicubuntu-n5-inactive.wf-inactive
online-platform…25927ab1.css:1
html {
    -webkit-text-size-adjust: none;
}
(index):42
html {
    -webkit-text-size-adjust: none;
}
(index):42
html, body {
    font-size: 100%;
}
(index):42
html {
    -webkit-text-size-adjust: none;
}
(index):42
html {
    -webkit-text-size-adjust: none;
}
(index):42
html {
    -webkit-text-size-adjust: none;
}
(index):42
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html, body {
    font-size: 100%;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html, body {
    font-size: 100%;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
base-844ec2736f…fea6e539.css:1
html {
    -webkit-text-size-adjust: none;
}
.Pseudo ::before element {
    index:42;
}
*, *:before, *:after {
    box-sizing: border-box;
}
base-844ec2736f…fea6e539.css:1
*, *:before, *:after {
    box-sizing: border-box;
}
base-844ec2736f…fea6e539.css:1
*, *:before, *:after {
    box-sizing: border-box;
}
.Pseudo ::after element {
    index:42;
}
*, *:before, *:after {
    box-sizing: border-box;
}
base-844ec2736f…fea6e539.css:1
*, *:before, *:after {
    box-sizing: border-box;
}
base-844ec2736f…fea6e539.css:1
*, *:before, *:after {
    box-sizing: border-box;
}